.sectionTitle {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.heading {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  color: #37517e;
}

.heading:before {
  content: "";
  position: absolute;
  display: block;
  width: 160px;
  height: 2px;
  background: color-mix(in srgb, #444444, transparent 60%);
  left: 0;
  right: 0;
  bottom: 1px;
  margin: auto;
}

.heading::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 4px;
  background: #1aa150;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
