/* Primary */

.getstartedBtn,
.getstartedBtn:focus {
  color: #fff;
  background: #1eba57;
  font-size: 16px;
  padding: 12px 25px;
  margin: 0 0 0 30px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
}

.getstartedBtn:hover,
.getstartedBtn:focus:hover {
  color: #fff;
  background: color-mix(in srgb, #1eba57, transparent 15%);
}

/* secondary */

.secondaryBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  color: #fff;
}

.secondaryBtn:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #1aa150;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.secondaryBtn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.secondaryBtn span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 0.1em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.secondaryBtn:hover span {
  color: #ffffff;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
